<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crabdp.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user
        (phone, password, nick_name, icon, create_time, update_time)
        values
            (#{phone}, #{password}, #{nickName}, #{icon}, #{createTime}, #{updateTime})
    </insert>
    <select id="list" resultType="com.crabdp.entity.User">
        select * from tb_user
    </select>
    <select id="selectByIds" resultType="com.crabdp.entity.User">
        select * from tb_user
        where id in <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by field(id, <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>)
    </select>
</mapper>